<div class="note">
  <div>
    <span class="note-title">
      <%= "#{comment.title} " %>
    </span>
    <!--%= link_to 'Delete Comment', [@book, comment], method: :delete %-->
  </div>

  <div><p><%= comment.note %></p></div>

  <div>
    <span class="note-createtime">
      <%= "(#{time_ago_in_words comment.created_at} ago)\nby #{current_user.email}" %>
    </span>
  </div>
</div>