<h1>Procurement List</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% current_user.selected.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= link_to "Remove", unpurchase_book_path(get_book(@books, book["isbn"]), isbn: book["isbn"], state: "procurement_list"), method: :put, class: "btn btn-warning" %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Back', root_path, class: "btn btn-success"  %>