// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.book-title {
  font-weight: bold;
  font-size: 15px;
}

.note-title {
  font-weight: bold;
  font-size: 12px;
}

.note {
  background: black;
  margin: 15px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  width: 300px;
  color: white;
}

#notice {
  color: green;
}

#alert {
  color: red;
}

.field {
  margin: 5px;
}

.actions {
  margin: 10px 0px;
}

